[user]
	name = Ilango Rajagopal
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[gpg]
	program = gpg2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[lfs]
	activitytimeout = 0
[includeIf "hasconfig:remote.*.url:git@github.com:ilango100/**"]
	path = ~/.config/git/personal
