snippet pydap DAP configuration for Python
	{
		"configurations": {
			"Launch ${1:file}": {
				"adapter": "debugpy",
				"filetypes": ["python"],
				"breakpoints": {
					"exception": {
						"uncaught": "",
						"raised": "",
						"userUnhandled": ""
					}
				},
				"configuration": {
					"type": "python",
					"request": "launch",
					"python": "/usr/bin/python",
					"justMyCode": false,
					"program": "${1:file}",
					"args": [
						"${2}"
					]
				}
			}
		}
	}
